<div class="container">
  <div class="mb-4 text-center">
    <img class="logo mb-5" alt="logo"
      src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter_colored_svg-512.png"
      style="height:50px;">
    <h1 class="h3 fw-bold mb-3">Join Tweeeter today.</h1>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <form class="form-signup" action="/signup" method="POST" style="width: 550px;">
      <div class="mb-3 bg-light">
        <label for="account" class="form-label"></label>
        <input type="text" class="form-control bg-light border-0" id="account" name="account"
          aria-describedby="emailHelp" placeholder="Account" required>
        <hr style="border:1px solid;">
      </div>
      <div class="mb-3 bg-light">
        <label for="name" class="form-label"></label>
        <input type="text" class="form-control bg-light border-0" id="name" name="name" aria-describedby="emailHelp"
          placeholder="Name" maxlength="50" required>
        <hr style="border:1px solid;">
      </div>
      <div class="mb-3 bg-light">
        <label for="email" class="form-label"></label>
        <input type="email" class="form-control bg-light border-0" id="email" name="email" aria-describedby="emailHelp"
          placeholder="Email" required>
        <hr style="border:1px solid;">
      </div>
      <div class="mb-3 bg-light">
        <label for="password" class="form-label"></label>
        <input type="password" class="form-control bg-light border-0 " name="password" id="password" placeholder="Password"
          required>
        <hr style="border:1px solid;">
      </div>
      <div class="mb-3 bg-light">
        <label for="checkPassword" class="form-label"></label>
        <input type="password" class="form-control bg-light border-0 " name="checkPassword" id="checkPassword"
          placeholder="Password Confirm" required>
        <hr style="border:1px solid;">
      </div>
      <div class="row justify-content-center mb-5">
        <button class="btn btn-primary btn-block rounded-pill border-0" type="submit"
          style="background-color:#00adff; width: 98%;">Sign up</button>
      </div>
    </form>
  </div>
  <div class="mb-4 text-center">
    <p><a href="/signin">Cancle</a></p>
  </div>
</div>